# Virtual environment
radar_env/

# Dataset
dataset/

# Trained model (VERY IMPORTANT)
model/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# Temporary files
temp_xray.jpg
sample_xray.jpg
